<div class="header_section">
    <div class="container-fluid">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="logo" href="#"><img src="images/logo.png"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item ">
                        <a class="nav-link" asp-controller="Home" asp-action="Index">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="About" asp-action="Index">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Product" asp-action="Index">Product</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" asp-controller="Blog" asp-action="Index">Blog</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Contact" asp-action="Index">Contact</a>
                    </li>
                </ul>
                <form class="form-inline my-2 my-lg-0">
                    <div class="login_menu">
                        <ul>
                            <li><a href="#">Login</a></li>
                            <li><a href="#"><img src="images/user-icon.png"></a></li>
                            <li><a href="#"><img src="images/trolly-icon.png"></a></li>
                            <li><a href="#"><img src="images/search-icon.png"></a></li>
                        </ul>
                    </div>
                </form>
            </div>
        </nav>
    </div>
</div>
<!-- header section end -->
<!-- Blog section start -->
<div class="blog_section layout_padding">
    <div class="container">
        <h1 class="blog_taital">Latest Blog</h1>
        <div class="blog_section_2">
            <div class="row">
                <div class="col-md-5">
                    <div class="face_img"><img src="images/face-img.png" class="face_img"></div>
                </div>
                <div class="col-md-7">
                    <h1 class="face_text">Face Cream Very mosurations</h1>
                    <p class="lorem_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laborisLorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis</p>
                    <div class="read_bt_1"><a href="#">Read More</a></div>
                </div>
            </div>
        </div>
        <div class="blog_section_3">
            <div class="row">
                <div class="col-md-7">
                    <h1 class="face_text">Face Cream Very mosurations Skin</h1>
                    <p class="lorem_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laborisLorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis</p>
                    <div class="readmore_bt"><a href="#">Read More</a></div>
                </div>
                <div class="col-md-5">
                    <div class="face_img"><img src="images/face-img1.png" class="face_img"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Blog section end -->
